{% extends "layout.html" %}

{% load i18n static %}

{% block content %}

<div class="login-container">

    {% include 'messages.html' with messages=messages %}
    <div class="login-title">
        Mudança de senha
    </div>


    <form action="." method="post" id="login-form">{% csrf_token %}
        <div class="login-input">
            {{ form.password }}
            {{ form.password.errors }}
        </div>
        <div class="login-input">
            {{ form.password_repeat }}
            {{ form.password_repeat.errors }}
        </div>

        <div class="login-button">

            <a href="{% url 'ecommerce:dashboard_ecommerce' %}"> <i class="zmdi zmdi-arrow-left"></i> Voltar</a>

            <input type="submit" value="Atualizar"/>

        </div>
    </form>
</div>
{% endblock %}